<!DOCTYPE html>
<html>
<head>
    <title>Pro memoria - 로그인</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
</head>
<body class="bg-body" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
<div id="preloader">
      <span class="loader">
        <span class="loader-inner"></span>
      </span>
</div>

<header id="header" class="site-header text-black">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3" style="margin-top: 50px">
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="index.html" style="width: 100%;">
                <img src="/images/main-logo.png" class="logo" style="display: block; margin: 0 auto;">
            </a>
        </div>
    </nav>
</header>

<div class="login-container">
    <form>
        <input type="text" placeholder="아이디를 입력해주세요." required>
        <input type="password" placeholder="비밀번호를 입력해주세요." required>
        <button type="submit">로그인</button>
        <div class="login-links">
            <a href="#">아이디 찾기</a>
            <a href="#">비밀번호 찾기</a>
        </div>
    </form>
</div>

<footer id="footer" class="overflow-hidden padding-large">
    <div class="container-fluid">
        <div class="row">
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-lg-3 col-sm-6 pb-3 pe-4">
                    <div class="footer-menu">
                        <img src="/images/main-logo.png" alt="logo" class="pb-3">
                    </div>
                    <div class="copyright">
                        <p>© Copyright 2023. Design by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-menu contact-item">
                        <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                        <p><a href="">+ 12(0) 34 56 78 910</a></p>
                        <p><a href="mailto:">hello@templatesjungle.com</a></p>
                        <p>tea berry, marinette, USA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>